Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).

* SQL databases are relational, and NoSQL databases are non-relational.
* SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data.
* SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.
* SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.
* SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.

**Command-1 :**

**CREATE :**
This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.

**Syntax –**

CREATE TABLE table_name
(
column_1 datatype,
column_2 datatype,
column_3 datatype,
....
);

**Example –**
We need to create a table for storing Student information of a particular College. Create syntax would be as below.

CREATE TABLE Student_info
(
College_Id number(2),
College_name varchar(30),
Branch varchar(10)
);

**Command-2 :**
    
**ALTER :**
This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.

**Syntax –**
Syntax to add a column to an existing table.

ALTER TABLE table_name
ADD column_name datatype;

**Example –**
In our Student_info table, we want to add a new column for CGPA. The syntax would be as below as follows.

ALTER TABLE Student_info
ADD CGPA number;

**Command-3 :**

**TRUNCATE :**
This command is used to remove all rows from the table, but the structure of the table still exists.

**Syntax –**
Syntax to remove an existing table.

TRUNCATE TABLE table_name;

**Example –**
The College Authority wants to remove the details of all students for new batches but wants to keep the table structure. The command they can use is as follows.


TRUNCATE TABLE Student_info;

**Command-4 :**

**DROP :**
This command is used to remove an existing table along with its structure from the Database.

**Syntax –**
Syntax to drop an existing table.

DROP TABLE table_name;

**Example –**
If the College Authority wants to change their Database by deleting the Student_info Table. 

DROP TABLE Student_info;

**Command -5**

**RENAME:**

It is possible to change name of table with or without data in it using simple RENAME command.

We can rename any table object at any point of time.

**Syntax –**

RENAME TABLE <Table Name> To <New_Table_Name>;

**Example:**

If you want to change the name of the table from Employee to Emp we can use rename command as 

RENAME TABLE Employee To EMP;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. Tables and formulas are helpful when communicating with data stored up to a point in a database through SQL, but a time comes when we actually want to execute some fairly complicated data interactions. We will also need the Data Manipulation Language in that situation. DML is a way to inform a database precisely what we want it to do by conversing in a manner that it has been built to comprehend from the scratch. When it comes to interacting within existing data, whether adding, moving, or deleting data, it provides a convenient way to do so.

**INSERT Command –**
This command is used to enter the information or values into a row. We can connect one or more records to a single table within a repository using this instruction. This is often used to connect an unused tag to the documents.

**Syntax :**

INSERT INTO <table_name> ('column_name1' <datatype>, 'column_name2' <datatype>)

VALUES ('value1', 'value2'); 

**Example :**

INSERT INTO students ('stu_id' int, 'stu_name' varchar(20), 'city' varchar(20))

VALUES ('1', 'Nirmit', 'Gorakhpur');

**UPDATE Command –**
This command is used to alter existing table records. Within a table, it modifies data from one or more records. This command is used to alter the data which is already present in a table.

**Syntax :**

UPDATE <table_name>

SET <column_name = value>

WHERE condition; 

**Example :**

UPDATE students

SET due_fees = 20000

WHERE stu_name = 'Mini';

**DELETE Command –**
It deletes all archives from a table. This command is used to erase some or all of the previous table’s records. If we do not specify the ‘WHERE’ condition then all the rows would be erased or deleted.

**Syntax :**

DELETE FROM <table_name>

WHERE <condition>; 

**Example :**

DELETE FROM students

WHERE stu_id = '001';

Q4. What is DQL? Explain SELECT with an example.

DQL or data query language is to perform the query on the data inside the schema or object (ie table, index, view, function, etc). With the help of a DQL query, we can get the data from the database to perform actions or operations like analyzing the data.

**SELECT Command –**
This command is used to get data out of the database. It helps users of the database to access from an operating system, the significant data they need. It sends a track result set from one tables or more.

**Syntax :**

SELECT * 
FROM <table_name>; 

**Example :**

SELECT * 
FROM students;

OR

SELECT * 
FROM students
where due_fees <=20000;

Q5. Explain Primary Key and Foreign Key.

A primary key generally focuses on the uniqueness of the table. It assures the value in the specific column is unique. A foreign key is generally used to build a relationship between the two tables. The table allows only one primary key.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Secure@1994"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)
mydb.close()

1. In above code, we first establish a connection to a MySQL database using the mysql.connector.connect() method, which takes the host, user, password as arguments.
2. Next, we create a cursor object using the cursor() method of the connection object. The cursor object allows us to execute queries and fetch results.
3. We then execute a SQL query using the execute() method of the cursor object, which takes the SQL query as an argument.

Q7. Give the order of execution of SQL clauses in an SQL query.

1. FROM clause: Specifies the table or tables from which to retrieve data.

2. JOIN clause: Specifies how to join multiple tables together, if needed.

3. WHERE clause: Specifies which rows to retrieve based on a set of conditions.

4. GROUP BY clause: Specifies how to group rows based on one or more columns.

5. HAVING clause: Specifies which groups to retrieve based on a set of conditions.

6. SELECT clause: Specifies which columns to retrieve.

7. DISTINCT clause: Specifies to retrieve only distinct values of the specified columns.

8. ORDER BY clause: Specifies how to sort the retrieved rows based on one or more columns.

9. LIMIT clause: Specifies the maximum number of rows to retrieve.